*{
    box-sizing: border-box
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.DVD{
    color: white;
    font-family: Helvetica;
    font-size: 2vw;
    position: relative;
    transition: all 0.025s ease-in-out;
}